name: Check Certificate

on:
  schedule:
    - cron: '0 0 */3 * *'
  workflow_dispatch:
    inputs:
      debug:
        description: 'Enable debug mode'
        default: ''
        required: false

permissions:
  contents: write

jobs:
  renew-certificate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3
      
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.23

      - name: Build
        run: go build
      
      - name: Run
        run: ./AliyunCertRenew
        env:
          ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
          ACCESS_KEY_SECRET: ${{ secrets.ACCESS_KEY_SECRET }}
          DOMAIN: ${{ secrets.DOMAIN }}
          DEBUG: ${{ github.event.inputs.debug }}

      - name: Commit status
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          git checkout status 2>/dev/null || (git checkout --orphan status && git rm -rf .)
          
          echo "Workflow last executed at: $(date)" > README.md
          git add README.md
          git commit -m "Status: successful run [skip ci]"
          git push origin status
